<div class="container">
  <div class="starter-template">
    <h1>Awesome Office Spaces</h1>
    <p class="lead">
    </p>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>No. of Seats</th>
          <th>City</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @spaces["data"].each.with_index(1) do |office_space, i| %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= office_space["attributes"]["name"] %></td>
          <td><%= office_space["attributes"]["description"] %></td>
          <td><%= office_space["attributes"]["no-of-seats"] %></td>
          <td><%= office_space["relationships"]["city"]["data"] %></td>
          <td>
            <% if can_manage_items %>
              <%= link_to "mark featured", "/featured/#{office_space['id']}"%>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>